* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, red, blue);
}

.container-imagens {
    position: relative;
}

.celular {
    width: 400px;
    height: 550px;
}

.imagem-celular {
    height: 471px;
    position: absolute;
    left: 132px;
    top: 21px;
    transition: opacity 3s ease-in-out;
}

.container {

    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.container-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 300px;
    height: 360px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #dbdbdb;
}

input {
    height: 30px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 4px;
    margin-bottom: 5px;
    margin-top: 5px;

}

button {
    height: 30px;
    width: 100%;
    background-color: #27beff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}


.logo {
    margin-bottom: 20px;
}



a {
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
    text-align: center;
    margin-top: 18px;
    cursor: pointer;
}

.esqueceu-senha {
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
    text-align: center;
    margin-top: 18px;
    cursor: pointer;
    font-size: 12px;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #dbdbdb;
    background-color: #fff;
    width: 300px;
    padding: 10px;
    flex-direction: row;

}

span {
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.paragrafo-app {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;

}

.apps-donwload {
    display: flex;
    justify-content: center;
    gap: 3px;

}

.logo-app {
    margin-bottom: 35px;
    width: 149px;
    cursor: pointer;

}

.logo-facebook {
    display: flex;
    position: absolute;
    width: 26px;
    top: 249px;
    right: 249px;
}

.tela-celular {
    height: 520px;
    position: absolute;

}